div {
    margin: 20px;
    padding: 30px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px rgb(255, 1, 1);
    text-align: center;
    border-color: rgb(198, 255, 255);
    background-color: #beedff;
}

.article {
    margin: 20px;
    padding: 30px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px yellow;
    text-align: justify;
    border-color: rgb(255, 255, 255);
    background-color: #ffffff;
}

.img1 {
    margin: 20px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    width: 285px;
    margin-left: 20%;
    margin-right: auto;
    box-shadow: 10px 10px 0px rgb(38, 0, 255);
    text-align: center;
    border-color: rgba(0, 89, 255, 0.438);
    background-color: #9c8b8b96;
    float: left;
}

.img2 {
    margin: 20px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    width: 285px;
    margin-left: 6%;
    margin-right: auto;
    box-shadow: 10px 10px 0px rgb(38, 0, 255);
    text-align: center;
    border-color: rgba(0, 89, 255, 0.438);
    background-color: #9c8b8b96;
    float: left;
}

.img3 {
    margin: 20px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    width: 285px;
    margin-left: 5%;
    margin-right: auto;
    box-shadow: 10px 10px 0px rgb(38, 0, 255);
    text-align: center;
    border-color: rgba(0, 89, 255, 0.438);
    background-color: #9c8b8b96;
    float: left;
}

.p {
  border-top: 6px solid red;
  background-color: lightgrey;
}