body {
    font-family: Arial, sans-serif;
    background-color: #aaaaf1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 0;
}

input {
    width: 95%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 3px dotted #8ad4ff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #020f4d;
    color: rgb(178, 31, 207);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8078ca;
}

p {
    font-size: 18px;
    margin-top: 10px;
}